r100-.btn-default, r100-
.btn-primary, r100-
.btn-success, r100-
.btn-info, r100-
.btn-warning, r100-
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, r100- 0, r100- 0, r100- .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .15), r100- 0 1px 1px rgba(0, r100- 0, r100- 0, r100- .075);
          box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .15), r100- 0 1px 1px rgba(0, r100- 0, r100- 0, r100- .075);
}
r100-
.btn-default:active, r100-
.btn-primary:active, r100-
.btn-success:active, r100-
.btn-info:active, r100-
.btn-warning:active, r100-
.btn-danger:active, r100-
.btn-default.active, r100-
.btn-primary.active, r100-
.btn-success.active, r100-
.btn-info.active, r100-
.btn-warning.active, r100-
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, r100- 0, r100- 0, r100- .125);
          box-shadow: inset 0 3px 5px rgba(0, r100- 0, r100- 0, r100- .125);
}
r100-
.btn-default.disabled, r100-
.btn-primary.disabled, r100-
.btn-success.disabled, r100-
.btn-info.disabled, r100-
.btn-warning.disabled, r100-
.btn-danger.disabled, r100-
.btn-default[disabled], r100-
.btn-primary[disabled], r100-
.btn-success[disabled], r100-
.btn-info[disabled], r100-
.btn-warning[disabled], r100-
.btn-danger[disabled], r100-
fieldset[disabled] .btn-default, r100-
fieldset[disabled] .btn-primary, r100-
fieldset[disabled] .btn-success, r100-
fieldset[disabled] .btn-info, r100-
fieldset[disabled] .btn-warning, r100-
fieldset[disabled] .btn-danger {
  -webkit-box-shadow: none;
          box-shadow: none;
}
r100-
.btn-default .badge, r100-
.btn-primary .badge, r100-
.btn-success .badge, r100-
.btn-info .badge, r100-
.btn-warning .badge, r100-
.btn-danger .badge {
  text-shadow: none;
}
r100-
.btn:active, r100-
.btn.active {
  background-image: none;
}
r100-
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, r100- #fff 0%, r100- #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, r100- #fff 0%, r100- #e0e0e0 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#fff), r100- to(#e0e0e0));
  background-image:         linear-gradient(to bottom, r100- #fff 0%, r100- #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', r100- endColorstr='#ffe0e0e0', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
r100-
.btn-default:hover, r100-
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
r100-
.btn-default:active, r100-
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
r100-
.btn-default.disabled, r100-
.btn-default[disabled], r100-
fieldset[disabled] .btn-default, r100-
.btn-default.disabled:hover, r100-
.btn-default[disabled]:hover, r100-
fieldset[disabled] .btn-default:hover, r100-
.btn-default.disabled:focus, r100-
.btn-default[disabled]:focus, r100-
fieldset[disabled] .btn-default:focus, r100-
.btn-default.disabled.focus, r100-
.btn-default[disabled].focus, r100-
fieldset[disabled] .btn-default.focus, r100-
.btn-default.disabled:active, r100-
.btn-default[disabled]:active, r100-
fieldset[disabled] .btn-default:active, r100-
.btn-default.disabled.active, r100-
.btn-default[disabled].active, r100-
fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0;
  background-image: none;
}
r100-
.btn-primary {
  background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #265a88 100%);
  background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #265a88 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#265a88));
  background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff265a88', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}
r100-
.btn-primary:hover, r100-
.btn-primary:focus {
  background-color: #265a88;
  background-position: 0 -15px;
}
r100-
.btn-primary:active, r100-
.btn-primary.active {
  background-color: #265a88;
  border-color: #245580;
}
r100-
.btn-primary.disabled, r100-
.btn-primary[disabled], r100-
fieldset[disabled] .btn-primary, r100-
.btn-primary.disabled:hover, r100-
.btn-primary[disabled]:hover, r100-
fieldset[disabled] .btn-primary:hover, r100-
.btn-primary.disabled:focus, r100-
.btn-primary[disabled]:focus, r100-
fieldset[disabled] .btn-primary:focus, r100-
.btn-primary.disabled.focus, r100-
.btn-primary[disabled].focus, r100-
fieldset[disabled] .btn-primary.focus, r100-
.btn-primary.disabled:active, r100-
.btn-primary[disabled]:active, r100-
fieldset[disabled] .btn-primary:active, r100-
.btn-primary.disabled.active, r100-
.btn-primary[disabled].active, r100-
fieldset[disabled] .btn-primary.active {
  background-color: #265a88;
  background-image: none;
}
r100-
.btn-success {
  background-image: -webkit-linear-gradient(top, r100- #5cb85c 0%, r100- #419641 100%);
  background-image:      -o-linear-gradient(top, r100- #5cb85c 0%, r100- #419641 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#5cb85c), r100- to(#419641));
  background-image:         linear-gradient(to bottom, r100- #5cb85c 0%, r100- #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', r100- endColorstr='#ff419641', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
r100-
.btn-success:hover, r100-
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
r100-
.btn-success:active, r100-
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
r100-
.btn-success.disabled, r100-
.btn-success[disabled], r100-
fieldset[disabled] .btn-success, r100-
.btn-success.disabled:hover, r100-
.btn-success[disabled]:hover, r100-
fieldset[disabled] .btn-success:hover, r100-
.btn-success.disabled:focus, r100-
.btn-success[disabled]:focus, r100-
fieldset[disabled] .btn-success:focus, r100-
.btn-success.disabled.focus, r100-
.btn-success[disabled].focus, r100-
fieldset[disabled] .btn-success.focus, r100-
.btn-success.disabled:active, r100-
.btn-success[disabled]:active, r100-
fieldset[disabled] .btn-success:active, r100-
.btn-success.disabled.active, r100-
.btn-success[disabled].active, r100-
fieldset[disabled] .btn-success.active {
  background-color: #419641;
  background-image: none;
}
r100-
.btn-info {
  background-image: -webkit-linear-gradient(top, r100- #5bc0de 0%, r100- #2aabd2 100%);
  background-image:      -o-linear-gradient(top, r100- #5bc0de 0%, r100- #2aabd2 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#5bc0de), r100- to(#2aabd2));
  background-image:         linear-gradient(to bottom, r100- #5bc0de 0%, r100- #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', r100- endColorstr='#ff2aabd2', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
r100-
.btn-info:hover, r100-
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
r100-
.btn-info:active, r100-
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
r100-
.btn-info.disabled, r100-
.btn-info[disabled], r100-
fieldset[disabled] .btn-info, r100-
.btn-info.disabled:hover, r100-
.btn-info[disabled]:hover, r100-
fieldset[disabled] .btn-info:hover, r100-
.btn-info.disabled:focus, r100-
.btn-info[disabled]:focus, r100-
fieldset[disabled] .btn-info:focus, r100-
.btn-info.disabled.focus, r100-
.btn-info[disabled].focus, r100-
fieldset[disabled] .btn-info.focus, r100-
.btn-info.disabled:active, r100-
.btn-info[disabled]:active, r100-
fieldset[disabled] .btn-info:active, r100-
.btn-info.disabled.active, r100-
.btn-info[disabled].active, r100-
fieldset[disabled] .btn-info.active {
  background-color: #2aabd2;
  background-image: none;
}
r100-
.btn-warning {
  background-image: -webkit-linear-gradient(top, r100- #f0ad4e 0%, r100- #eb9316 100%);
  background-image:      -o-linear-gradient(top, r100- #f0ad4e 0%, r100- #eb9316 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f0ad4e), r100- to(#eb9316));
  background-image:         linear-gradient(to bottom, r100- #f0ad4e 0%, r100- #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', r100- endColorstr='#ffeb9316', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
r100-
.btn-warning:hover, r100-
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
r100-
.btn-warning:active, r100-
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
r100-
.btn-warning.disabled, r100-
.btn-warning[disabled], r100-
fieldset[disabled] .btn-warning, r100-
.btn-warning.disabled:hover, r100-
.btn-warning[disabled]:hover, r100-
fieldset[disabled] .btn-warning:hover, r100-
.btn-warning.disabled:focus, r100-
.btn-warning[disabled]:focus, r100-
fieldset[disabled] .btn-warning:focus, r100-
.btn-warning.disabled.focus, r100-
.btn-warning[disabled].focus, r100-
fieldset[disabled] .btn-warning.focus, r100-
.btn-warning.disabled:active, r100-
.btn-warning[disabled]:active, r100-
fieldset[disabled] .btn-warning:active, r100-
.btn-warning.disabled.active, r100-
.btn-warning[disabled].active, r100-
fieldset[disabled] .btn-warning.active {
  background-color: #eb9316;
  background-image: none;
}
r100-
.btn-danger {
  background-image: -webkit-linear-gradient(top, r100- #d9534f 0%, r100- #c12e2a 100%);
  background-image:      -o-linear-gradient(top, r100- #d9534f 0%, r100- #c12e2a 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#d9534f), r100- to(#c12e2a));
  background-image:         linear-gradient(to bottom, r100- #d9534f 0%, r100- #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', r100- endColorstr='#ffc12e2a', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
r100-
.btn-danger:hover, r100-
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
r100-
.btn-danger:active, r100-
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
r100-
.btn-danger.disabled, r100-
.btn-danger[disabled], r100-
fieldset[disabled] .btn-danger, r100-
.btn-danger.disabled:hover, r100-
.btn-danger[disabled]:hover, r100-
fieldset[disabled] .btn-danger:hover, r100-
.btn-danger.disabled:focus, r100-
.btn-danger[disabled]:focus, r100-
fieldset[disabled] .btn-danger:focus, r100-
.btn-danger.disabled.focus, r100-
.btn-danger[disabled].focus, r100-
fieldset[disabled] .btn-danger.focus, r100-
.btn-danger.disabled:active, r100-
.btn-danger[disabled]:active, r100-
fieldset[disabled] .btn-danger:active, r100-
.btn-danger.disabled.active, r100-
.btn-danger[disabled].active, r100-
fieldset[disabled] .btn-danger.active {
  background-color: #c12e2a;
  background-image: none;
}
r100-
.thumbnail, r100-
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .075);
          box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .075);
}
r100-
.dropdown-menu > li > a:hover, r100-
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f5f5f5), r100- to(#e8e8e8));
  background-image:         linear-gradient(to bottom, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', r100- endColorstr='#ffe8e8e8', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.dropdown-menu > .active > a, r100-
.dropdown-menu > .active > a:hover, r100-
.dropdown-menu > .active > a:focus {
  background-color: #2e6da4;
  background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
  background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#2e6da4));
  background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff2e6da4', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.navbar-default {
  background-image: -webkit-linear-gradient(top, r100- #fff 0%, r100- #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, r100- #fff 0%, r100- #f8f8f8 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#fff), r100- to(#f8f8f8));
  background-image:         linear-gradient(to bottom, r100- #fff 0%, r100- #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', r100- endColorstr='#fff8f8f8', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .15), r100- 0 1px 5px rgba(0, r100- 0, r100- 0, r100- .075);
          box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .15), r100- 0 1px 5px rgba(0, r100- 0, r100- 0, r100- .075);
}
r100-
.navbar-default .navbar-nav > .open > a, r100-
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, r100- #dbdbdb 0%, r100- #e2e2e2 100%);
  background-image:      -o-linear-gradient(top, r100- #dbdbdb 0%, r100- #e2e2e2 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#dbdbdb), r100- to(#e2e2e2));
  background-image:         linear-gradient(to bottom, r100- #dbdbdb 0%, r100- #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', r100- endColorstr='#ffe2e2e2', r100- GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, r100- 0, r100- 0, r100- .075);
          box-shadow: inset 0 3px 9px rgba(0, r100- 0, r100- 0, r100- .075);
}
r100-
.navbar-brand, r100-
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .25);
}
r100-
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, r100- #3c3c3c 0%, r100- #222 100%);
  background-image:      -o-linear-gradient(top, r100- #3c3c3c 0%, r100- #222 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#3c3c3c), r100- to(#222));
  background-image:         linear-gradient(to bottom, r100- #3c3c3c 0%, r100- #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', r100- endColorstr='#ff222222', r100- GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
}
r100-
.navbar-inverse .navbar-nav > .open > a, r100-
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, r100- #080808 0%, r100- #0f0f0f 100%);
  background-image:      -o-linear-gradient(top, r100- #080808 0%, r100- #0f0f0f 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#080808), r100- to(#0f0f0f));
  background-image:         linear-gradient(to bottom, r100- #080808 0%, r100- #0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', r100- endColorstr='#ff0f0f0f', r100- GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, r100- 0, r100- 0, r100- .25);
          box-shadow: inset 0 3px 9px rgba(0, r100- 0, r100- 0, r100- .25);
}
r100-
.navbar-inverse .navbar-brand, r100-
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, r100- 0, r100- 0, r100- .25);
}
r100-
.navbar-static-top, r100-
.navbar-fixed-top, r100-
.navbar-fixed-bottom {
  border-radius: 0;
}
r100-
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a, r100-
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, r100-
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
    background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
    background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#2e6da4));
    background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff2e6da4', r100- GradientType=0);
    background-repeat: repeat-x;
  }
r100-
}
r100-
.alert {
  text-shadow: 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .25), r100- 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .05);
          box-shadow: inset 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .25), r100- 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .05);
}
r100-
.alert-success {
  background-image: -webkit-linear-gradient(top, r100- #dff0d8 0%, r100- #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, r100- #dff0d8 0%, r100- #c8e5bc 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#dff0d8), r100- to(#c8e5bc));
  background-image:         linear-gradient(to bottom, r100- #dff0d8 0%, r100- #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', r100- endColorstr='#ffc8e5bc', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
r100-
.alert-info {
  background-image: -webkit-linear-gradient(top, r100- #d9edf7 0%, r100- #b9def0 100%);
  background-image:      -o-linear-gradient(top, r100- #d9edf7 0%, r100- #b9def0 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#d9edf7), r100- to(#b9def0));
  background-image:         linear-gradient(to bottom, r100- #d9edf7 0%, r100- #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', r100- endColorstr='#ffb9def0', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
r100-
.alert-warning {
  background-image: -webkit-linear-gradient(top, r100- #fcf8e3 0%, r100- #f8efc0 100%);
  background-image:      -o-linear-gradient(top, r100- #fcf8e3 0%, r100- #f8efc0 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#fcf8e3), r100- to(#f8efc0));
  background-image:         linear-gradient(to bottom, r100- #fcf8e3 0%, r100- #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', r100- endColorstr='#fff8efc0', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
r100-
.alert-danger {
  background-image: -webkit-linear-gradient(top, r100- #f2dede 0%, r100- #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, r100- #f2dede 0%, r100- #e7c3c3 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f2dede), r100- to(#e7c3c3));
  background-image:         linear-gradient(to bottom, r100- #f2dede 0%, r100- #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', r100- endColorstr='#ffe7c3c3', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}
r100-
.progress {
  background-image: -webkit-linear-gradient(top, r100- #ebebeb 0%, r100- #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, r100- #ebebeb 0%, r100- #f5f5f5 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#ebebeb), r100- to(#f5f5f5));
  background-image:         linear-gradient(to bottom, r100- #ebebeb 0%, r100- #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', r100- endColorstr='#fff5f5f5', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar {
  background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #286090 100%);
  background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #286090 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#286090));
  background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #286090 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff286090', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, r100- #5cb85c 0%, r100- #449d44 100%);
  background-image:      -o-linear-gradient(top, r100- #5cb85c 0%, r100- #449d44 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#5cb85c), r100- to(#449d44));
  background-image:         linear-gradient(to bottom, r100- #5cb85c 0%, r100- #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', r100- endColorstr='#ff449d44', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, r100- #5bc0de 0%, r100- #31b0d5 100%);
  background-image:      -o-linear-gradient(top, r100- #5bc0de 0%, r100- #31b0d5 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#5bc0de), r100- to(#31b0d5));
  background-image:         linear-gradient(to bottom, r100- #5bc0de 0%, r100- #31b0d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', r100- endColorstr='#ff31b0d5', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, r100- #f0ad4e 0%, r100- #ec971f 100%);
  background-image:      -o-linear-gradient(top, r100- #f0ad4e 0%, r100- #ec971f 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f0ad4e), r100- to(#ec971f));
  background-image:         linear-gradient(to bottom, r100- #f0ad4e 0%, r100- #ec971f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', r100- endColorstr='#ffec971f', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, r100- #d9534f 0%, r100- #c9302c 100%);
  background-image:      -o-linear-gradient(top, r100- #d9534f 0%, r100- #c9302c 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#d9534f), r100- to(#c9302c));
  background-image:         linear-gradient(to bottom, r100- #d9534f 0%, r100- #c9302c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', r100- endColorstr='#ffc9302c', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, r100- rgba(255, r100- 255, r100- 255, r100- .15) 25%, r100- transparent 25%, r100- transparent 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 75%, r100- transparent 75%, r100- transparent);
  background-image:      -o-linear-gradient(45deg, r100- rgba(255, r100- 255, r100- 255, r100- .15) 25%, r100- transparent 25%, r100- transparent 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 75%, r100- transparent 75%, r100- transparent);
  background-image:         linear-gradient(45deg, r100- rgba(255, r100- 255, r100- 255, r100- .15) 25%, r100- transparent 25%, r100- transparent 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 50%, r100- rgba(255, r100- 255, r100- 255, r100- .15) 75%, r100- transparent 75%, r100- transparent);
}
r100-
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .075);
          box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .075);
}
r100-
.list-group-item.active, r100-
.list-group-item.active:hover, r100-
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #2b669a 100%);
  background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #2b669a 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#2b669a));
  background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #2b669a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff2b669a', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
r100-
.list-group-item.active .badge, r100-
.list-group-item.active:hover .badge, r100-
.list-group-item.active:focus .badge {
  text-shadow: none;
}
r100-
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .05);
          box-shadow: 0 1px 2px rgba(0, r100- 0, r100- 0, r100- .05);
}
r100-
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f5f5f5), r100- to(#e8e8e8));
  background-image:         linear-gradient(to bottom, r100- #f5f5f5 0%, r100- #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', r100- endColorstr='#ffe8e8e8', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
  background-image:      -o-linear-gradient(top, r100- #337ab7 0%, r100- #2e6da4 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#337ab7), r100- to(#2e6da4));
  background-image:         linear-gradient(to bottom, r100- #337ab7 0%, r100- #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', r100- endColorstr='#ff2e6da4', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #dff0d8 0%, r100- #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, r100- #dff0d8 0%, r100- #d0e9c6 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#dff0d8), r100- to(#d0e9c6));
  background-image:         linear-gradient(to bottom, r100- #dff0d8 0%, r100- #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', r100- endColorstr='#ffd0e9c6', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #d9edf7 0%, r100- #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, r100- #d9edf7 0%, r100- #c4e3f3 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#d9edf7), r100- to(#c4e3f3));
  background-image:         linear-gradient(to bottom, r100- #d9edf7 0%, r100- #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', r100- endColorstr='#ffc4e3f3', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #fcf8e3 0%, r100- #faf2cc 100%);
  background-image:      -o-linear-gradient(top, r100- #fcf8e3 0%, r100- #faf2cc 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#fcf8e3), r100- to(#faf2cc));
  background-image:         linear-gradient(to bottom, r100- #fcf8e3 0%, r100- #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', r100- endColorstr='#fffaf2cc', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, r100- #f2dede 0%, r100- #ebcccc 100%);
  background-image:      -o-linear-gradient(top, r100- #f2dede 0%, r100- #ebcccc 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#f2dede), r100- to(#ebcccc));
  background-image:         linear-gradient(to bottom, r100- #f2dede 0%, r100- #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', r100- endColorstr='#ffebcccc', r100- GradientType=0);
  background-repeat: repeat-x;
}
r100-
.well {
  background-image: -webkit-linear-gradient(top, r100- #e8e8e8 0%, r100- #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, r100- #e8e8e8 0%, r100- #f5f5f5 100%);
  background-image: -webkit-gradient(linear, r100- left top, r100- left bottom, r100- from(#e8e8e8), r100- to(#f5f5f5));
  background-image:         linear-gradient(to bottom, r100- #e8e8e8 0%, r100- #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', r100- endColorstr='#fff5f5f5', r100- GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, r100- 0, r100- 0, r100- .05), r100- 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .1);
          box-shadow: inset 0 1px 3px rgba(0, r100- 0, r100- 0, r100- .05), r100- 0 1px 0 rgba(255, r100- 255, r100- 255, r100- .1);
}